In [1]:
import pandas as pd
import numpy as np

In [2]:
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

In [3]:
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [4]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]

np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
pd.concat?

In [6]:
ser1 = pd.Series(['A','B','C'], index=[1,2,3])
ser2 = pd.Series(['D', 'E','F'], index=[4,5,6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [7]:
df1 = make_df('AB', [1,2])
df2 = make_df('AB', [3,4])

In [8]:
df1

    A   B
1  A1  B1
2  A2  B2

In [9]:
df2

    A   B
3  A3  B3
4  A4  B4

In [10]:
pd.concat([df1, df2])

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [11]:
df3 = make_df('AB', [0,1])
df4 = make_df('CD', [0, 1])
df3

    A   B
0  A0  B0
1  A1  B1

In [12]:
df4

    C   D
0  C0  D0
1  C1  D1

In [13]:
pd.concat([df3, df4])

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1

In [14]:
pd.concat([df3, df4], axis='columns')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [25]:
x = make_df('AB', [0, 1])
y = make_df('AB', [0,1])
x

    A   B
0  A0  B0
1  A1  B1

In [16]:
y

    A   B
2  A2  B2
3  A3  B3

In [26]:
pd.concat([x, y])

    A   B
0  A0  B0
1  A1  B1
0  A0  B0
1  A1  B1

In [19]:
pd.concat([x,y], axis='columns')

     A    B    A    B
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2  NaN  NaN   A2   B2
3  NaN  NaN   A3   B3

In [20]:
pd.concat([x, y], verify_integrity=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [21]:
pd.concat([df3, df4], verify_integrity=True)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [23]:
try:
    pd.concat([df3, df4], verify_integrity=True)
except ValueError as ve:
    print(f"Value error raised : {ve}")

Value error raised : Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [24]:
pd.concat([df3, df4], ignore_index=True)

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2  NaN  NaN   C0   D0
3  NaN  NaN   C1   D1

In [27]:
pd.concat([x, y], ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A0  B0
3  A1  B1

In [28]:
pd.concat([x, y], keys=['x','y'])

      A   B
x 0  A0  B0
  1  A1  B1
y 0  A0  B0
  1  A1  B1

In [29]:
df5 = make_df('ABC', [1,2])
df6 = make_df('BCD', [3,4])
df5

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [30]:
df6

    B   C   D
3  B3  C3  D3
4  B4  C4  D4

In [31]:
pd.concat([df5, df6])

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [32]:
pd.concat([df5, df6], join='inner')

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [33]:
pd.concat([df5, df6], join_axes=[df5.columns])

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [34]:
pd.concat?