In [1]:
import numpy as np

In [5]:
data = ['peter', 'Paul', 'MARY', 'gUIDO', None]

In [3]:
import pandas as pd

In [6]:
names = pd.Series(data)
names

0    peter
1     Paul
2     MARY
3    gUIDO
4     None
dtype: object

In [7]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
4     None
dtype: object

In [8]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [10]:
monte.str.extract("(ee)")

     0
0  NaN
1   ee
2  NaN
3  NaN
4  NaN
5  NaN